.article-content .segment-flex {
    display: block;
}

.article-content .segment-flex .segment a {
    color: black;
}

@media screen and (max-width:899px) and (min-width: 600px) {
    .article-content .segment-flex {
        display: flex;
        gap: 8rem;
    }
}

@media screen and (min-width: 900px) {
    .article-content .segment-flex {
        display: flex;
        gap: 10rem;
    }
}