/*
.article-content div.lists div.list p.last, .article-content div.lists div.list p.middle {
    margin-left: auto;
}

.article-content div.lists div.list:last-of-type {
    border: none;
}
*/

.article-content p.ind-edu {
    margin-bottom: 0.5rem;
}

.article-content div.lists-r p, .article-content div.lists-w p, .article-content div.lists-r time , .article-content div.lists-w time {
    margin-bottom: 0em;
    /*display: inline-block;*/
}

.article-content div.lists-r div.list, .article-content div.lists-w div.list {
    /*padding: 0.2em 0;*/
    /*border-bottom: 1px solid #ddddddab;*/
    border: 1px solid #ddddddab;
    border-radius: 6px;
    background-color: #ffffff;
}

.article-content div.lists-r {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(1,1fr);
}

.article-content div.lists-w {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2,1fr);
}

.article-content div.list {
    padding: 1rem;
}

/*
@media screen and (min-width: 900px) {
    .article-content div.lists div.list {
        display: flex;
    }
}

@media screen and (min-width: 900px) {
    .article-content div.lists {
        display: flex;
        flex-direction: column;
    }
}
*/

/*
@media screen and (min-width: 900px) {
    .article-content div.lists div.list {
        display: block;
    }
}
*/

@media screen and (max-width:899px) and (min-width: 700px) {
    .article-content p.ind-edu {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width:899px) and (min-width: 700px) {
    .article-content div.list {
        padding: 1.5rem;
    }
}

@media screen and (max-width:899px) and (min-width: 700px) {
    .article-content div.lists-r {
        display: grid;
        gap: 0.75rem;
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:899px) and (min-width: 700px) {
    .article-content div.lists-w {
        display: grid;
        gap: 0.75rem;
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (min-width: 900px) {
    .article-content p.ind-edu {
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 900px) {
    .article-content div.list {
        padding: 1.5rem;
    }
}

@media screen and (min-width: 900px) {
    .article-content div.lists-r {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (min-width: 900px) {
    .article-content div.lists-w {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(4,1fr);
    }
}