@media screen and (min-width: 700px) {
    main {
        margin-top: 1.5em;
    }
}

@media screen and (min-width: 700px) {
    .container {
        padding: 0 2rem;
    }
}

*{margin:0; padding:0;}

h1, h2, p {
    font-family: Noto Sans, sans-serif;
}

h2, p {
    margin-bottom: .5em;
}

h2 {
    border-bottom: 1px solid #000000;
}

.segment {
    margin-bottom: 1.5em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #ffffff;
}

.navigation h1.nav-header {
    background-color: #3c3b3b;
    padding: .3em;
    border-bottom-style: solid;
}

.navigation a.brand {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 20px;
}

.article-content {
    width: 1000px;
}

.article-content p {
    font-size: 20px;
    color: #000000;
    line-height: 1.5em;
}