main {
    margin: 1.1em 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1160px;
    padding: 0 1rem;
}

h1, h2, p, span, a {
    text-decoration: none;
    font-family: Noto Sans, sans-serif;
}

h2, p {
    margin-bottom: .25em;
}

h2 {
    border-bottom: 1px solid #000000;
    font-size: 1.3rem;
}

.segment {
    margin-bottom: 1em;
}

.navigation a:hover, .footer a:hover {
    text-decoration: underline;
    text-decoration-color: #ffffff;
}

main a {
    color: #242fff;
}

main a:hover {
    text-decoration: underline;
    text-decoration-color: #242fff;
}

.navigation {
    background-color: #3c3b3b;
    border-bottom-style: solid;
    padding: 0.75em 0;
}

.navigation a.brand {
    font-size: 2.2rem;
    font-weight: bold;
    color: #ffffff;
}

.article-content p{
    font-size: 1rem;
    color: #000000;
    line-height: 1.4em;
}

.article-content div.lists div.list {
    display: block;
    padding: 0.2em 0;
}

.article-content div.lists div.list p.last {
    margin-left: auto;
}

.article-content div.lists div.list p.middle {
    margin-left: auto;
}

.article-content div.lists div.list p {
    margin-bottom: 0em;
}

.footer {
    background-color: #3c3b3b;
    border-top-style: solid;
    padding: 1.2rem 0;
}

.footer a, .footer span {
    align-items: center;
    font-size: 1rem;
    color: #ffffff;
    line-height: 1;
    padding: 0 0.75rem;
}

.footer section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.footer nav {
    display: flex;
    gap: 0.25rem;
    margin: 0 1rem;
}

@media screen and (min-width: 700px) {
    .navigation a.brand {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 700px) {
    h2 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 700px) {
    .article-content p {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 700px) {
    .footer a, .footer span {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 700px) {
    .footer section {
        gap: 1.25rem;
    }
}

@media screen and (min-width: 700px) {
    .footer {
        padding: 2rem 0;
    }
}

@media screen and (min-width: 700px) {
    main {
        margin: 2.1em 0;
    }
}

@media screen and (min-width: 700px) {
    .navigation {
        padding: 1.5em 0;
    }
}

@media screen and (min-width: 700px) {
    .container {
        padding: 0 2rem;
    }
}

@media screen and (min-width: 700px) {
    .segment {
        margin-bottom: 1.75em;
    }
}

@media screen and (min-width: 700px) {
    .article-content p {
        line-height: 1.5em;
    }
}

@media screen and (min-width: 700px) {
    h2, p {
        margin-bottom: .5em;
    }
}

@media screen and (min-width: 700px) {
    .article-content div.lists div.list {
        display: flex;
        padding: 0 0;
    }
}

*{margin:0; padding:0;}